body{
    text-align: center;    
}


.table{
    border-top-width: 0px;
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
    text-align: center;
    
    border-collapse: collapse;
    box-sizing: border-box;
  }
  .table td{
    
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
    border: 0.2rem solid #ccc;
    text-align: center;
    box-sizing: border-box;
    line-height: 5rem;
  }
  .table td:hover{
    border-color: grey;      
    position: absolute;
    width: 4.8rem;
    height: 5rem;    
    margin-top: -0.2rem;
    margin-left: -0.2rem;   
    box-sizing: content-box;
  }

  /*
  .table .row tr:last-child td{
    border-right:none;
  }
  .table tr:last-child td tr:last-child{
    border-bottom:none;
  }
  */
  #Reset{
    text-align: center;  
    margin-top: 1rem;    
    height: 3rem;
    width: 8rem;
    font-size: 1.5rem;
  }
